div.wrapper>div.cyber{
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 10px;
}
div.wrapper>div.cyber>h1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: whitesmoke;
}
div.wrapper>div.cyber>p{
    font-size: 14px;
    padding: 0 20px;
    color: var(--MenuColor);
}
