div.wrapper>div.cyber{
    width: 100%;
    height: 350px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
div.wrapper>div.cyber>h1{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
    color: whitesmoke;
}
div.wrapper>div.cyber>p{
    font-size: 25px;
    padding: 0 250px;
    color: var(--MenuColor);
}
