div.wrapper>div.iphoneHeadar{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
}
div.wrapper>div.iphoneHeadar>div:nth-of-type(1),div.wrapper>div.iphoneHeadar>div:nth-of-type(2){
    padding: 100px;
    display: flex;
    flex-direction: column;
}
div.wrapper>div.iphoneHeadar>div>h1{
    padding-top: 100px;
    font-size: 50px;
    color: white;
    font-weight: bold;
}
div.wrapper>div.iphoneHeadar>div>h3{
    font-weight: bold;
    color: white;
    padding-top: 30px;
    font-size: 25px;
}
div.wrapper>div.iphoneHeadar>div>p{
    padding-top: 20px;
    color: var(--MenuColor);
    line-height: 25px;
}
div.wrapper>div.iphoneHeadar>div>img{
    width: 320px;
    height: 650px;
}
div.wrapper>div.iphoneHeader>div:nth-of-type(3){
    width: 100%;
    height: 500px;
    background-color: aquamarine;
}
