div.wrapper>div.menu{
    width: 100%;
    height: 45px;
    background-color: #333333;
    display: flex;
    justify-content: center;
}
div.wrapper>div.menu>nav{
    width: 75%;
    height: inherit;
    display: flex;
}
div.wrapper>div.menu>nav>ul{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
}
div.wrapper>div.menu>nav>ul>li{
    width: auto;
    height: inherit;
}
div.wrapper>div.menu>nav>ul>li>a{
    width: inherit;
    text-decoration: none;
    line-height: 45px;
    color: var(--MenuColor);
    font-size: 12px;
}
div.wrapper>div.menu>nav>ul>li>a>img{
    filter: invert(30%);
}
div.wrapper>div.menu>nav>ul>li>a>i{
    font-size: 15px;
}
div.wrapper>div.menu>nav>ul>li>a:hover{
    color: whitesmoke;
}
div.wrapper>div.menu>nav>ul>li>a>img:hover{
    filter: brightness(100%);
}