div.wrapper>div.offer{
    width: 100%;
    height: 60px;
    margin-top: 480px;
}
div.wrapper>div.offer>h3{
    line-height: 60px;
    color: white;
    margin-left: 20px;
    text-align: center;
    font-size: 16px;
}
div.wrapper>div.offer>hr{
    width: 200px;
    margin: 0 auto;
    color: grey;
}